<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= categoryName %> Menu</title>
</head>
<body>

<%- include('./partials/nav') %>

<h1><%= categoryName %></h1>

<% menuItems.forEach(function(item){ %>
  <ul>
    <li><strong>Name:</strong> <%= item.name %></li>
    <li><strong>Price:</strong> $<%= item.price %></li>
    <li><strong>Rating:</strong> <%= item.rating %>/5</li>
    <li><strong>Details:</strong> <%= item.details %></li>
  </ul>
<% }) %>

</body>
</html>
