<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Menu</title>
</head>
<%- include('./partials/nav') %>

<body>
  <h1>Full Menu</h1>


  <% RESTAURANT.menu.forEach(function(oneRESTURANT){%>
    
    <ul>
    <li>name: <%= oneRESTURANT.name%></li>
    <li>price: <%= oneRESTURANT.price%></li>
    <li>rating: <%= oneRESTURANT.rating%></li>
    <li>Details: <%= oneRESTURANT.details%></li>
</ul>
 <% })%>
    
  


</body>
</html>
